stages:
  - build

variables:
  AWS_DEFAULT_REGION: "eu-central-1"
  IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_SHORT_SHA

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  before_script:
    - apk add --no-cache aws-cli
    - aws --version
    - aws ecr get-login-password --region $AWS_DEFAULT_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY
  script:
    - docker build -t $IMAGE_TAG .
    - docker tag $IMAGE_TAG $ECR_REGISTRY/$IMAGE_TAG
    - docker push $ECR_REGISTRY/$IMAGE_TAG
    - docker tag $IMAGE_TAG $ECR_REGISTRY/$CI_REGISTRY_IMAGE:latest
    - docker push $ECR_REGISTRY/$CI_REGISTRY_IMAGE:latest
  only:
    - main
    - master
    - develop
  tags:
    - docker


# ECR_REGISTRY - 451405121207.dkr.ecr.eu-central-1.amazonaws.com
# CI_REGISTRY_IMAGE - fast-api-service
# CI_COMMIT_SHORT_SHA - 24ffgh24d24b2242
#
# Примітка: Deploy job видалено, оскільки використовується ArgoCD.
# ArgoCD автоматично синхронізує зміни з Git репозиторію (helm/ чарт)
# і оновлює deployment в кластері. Build job пушить Docker образ в ECR,
# а ArgoCD відстежує зміни в helm/ і автоматично застосовує їх до кластера.
#
# AWS IAM Policy для доступу до ECR (див. ecr-policy.json):
# - GetAuthorizationToken - для отримання токену авторизації
# - PutImage, BatchCheckLayerAvailability, InitiateLayerUpload, UploadLayerPart, CompleteLayerUpload - для завантаження образів
# - DescribeRepositories, DescribeImages - для перевірки наявності репозиторію
# Policy обмежена тільки репозиторієм: arn:aws:ecr:eu-central-1:451405121207:repository/fast-api-service
#
# AWS IAM Policy для доступу до EKS:
# - eks:DescribeCluster - для отримання інформації про кластер
# - eks:ListClusters - для переліку кластерів
# - eks:AccessKubernetesApi - для доступу до Kubernetes API